<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>PeerPlot</title>
    <link rel="stylesheet" type="text/css" href="static/plot.css">
    <link rel="stylesheet" type="text/css" href="static/jquery-ui.css">
    <script src="static/jquery.min.js" type="text/javascript"></script>
    <script src="static/jquery-ui.min.js" type="text/javascript"></script>
    <script src="static/plot.js" type="text/javascript"></script>
    <script src="static/name.js" type="text/javascript"></script>
    <script src="static/connect.js" type="text/javascript"></script>
    <link rel="shortcut icon" href="{{ static_url("favicon.ico") }}" />
    <link rel="stylesheet" type="text/css" href="{{ static_url("plot.css") }}" >
    <link rel="stylesheet" type="text/css" href="{{ static_url("jquery-ui.css") }}" />
    <script type="text/javascript" src="{{ static_url("jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("jquery-ui.min.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("plot.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("name.js") }}"></script>
    <script type="text/javascript" src="{{ static_url("connect.js") }}"></script>
  </head>
  <body id="plotBody">
    <span id="title">
      <h1>PeerPlot Session  {{ session }}</h1>
    </span>
    <div id="clientlist" title="PeerPlot users for session '{{ session }}'"></div>
    <table class="client" cellspacing='5px' cellpadding='0'>
      <tr>
        <td class="clienttd">
          <button id="list-users">Users</button>
        </td>
      </tr>
    </table>
    <div id="info"> </div>
    <div id="plot_canvas" style="position: absolute; top: 120px; left: 10px;">
      <div id="plotDiv" style="width:640px; height:480px;"></div>
      <div id="button_menu">
        <table class="menu" cellspacing='0' cellpadding='0'>
          <tr>
            <td class="cb">
              <img id="cb" class="pointer" src="static/nav_cb_s.png"
                   onmouseover='$("#cb").attr("src", "static/nav_cb.png");'
                   onmouseout='$("#cb").attr("src", "static/nav_cb_s.png");' />
            </td>
            <td id="sm" class="move">
              <span id="status" class="info">Disconnected</span>
            </td>
            <td id="cm" class="move">
              <span id="cursor_info" class="info">Cursor</span>
            </td>
            <td>
              <form class="move">
                  <input type="checkbox" checked="checked" id="zoom"></input>
              </form>
            </td>
            <td class="ro button">
              <img id="ro" class="pointer" src="{{ static_url("zoom_to_rect.png") }}" />
            </td>
            <td class="hb button">
              <img id="hb" class="pointer" src="{{ static_url("home.png") }}" />
            </td>
<!--
            <td class="hb button">
              <img class="pointer" id="hb" src="static/nav_hb_s.png"
                   onmouseover='$("#hb").attr("src", "static/nav_hb.png");'
                   onmouseout='$("#hb").attr("src", "static/nav_hb_s.png");' />
            </td>
-->
            <td class="mb button">
              <img class="pointer" id="mb" src="static/nav_mb_s.png"
                   onmouseover='$("#mb").attr("src", "static/nav_mb.png");'
                   onmouseout='$("#mb").attr("src", "static/nav_mb_s.png");' />
            </td>
            <td id="rbb" class="rb button">
              <img class="resize" id="rb" src="static/nav_rb_s.png"
                   onmouseover='$("#rb").attr("src", "static/nav_rb.png");'
                   onmouseout='$("#rb").attr("src", "static/nav_rb_s.png");' />
            </td>
          </tr>
        </table>
      </div>
      <div class="cursor" id="limit_div"></div>
      <div class="zoom" id="zoom_div"></div>
    </div>
    <div id="resize_div" class="resize" ></div>
    <div id="name-dialog" title="Join PeerPlot session {{ session }}">
      <p class="validateTips">Add your name to join.</p>
      <form onsubmit="return false;" >
        <fieldset>
          <label for="name">Name</label>
          <input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
        </fieldset>
      </form>
    </div>
<script type="text/javascript">
var plt = null;
$(document).ready(function () {
    var options = {
        host : "{{ server_ip }}",
        port : {{ server_port }},
        session : "{{ session }}",
        height : 480,
        width : 640,
    }
    plt = $.plot($("#plotDiv"), options);
    ConnectionManager.init(options);
    ClientDialog.init({ socket: ConnectionManager.socket });
    $("#list-users")
        .button()
        .click(function() {
            $("#clientlist").dialog("open");
        });
    $("#ro").click(function () {
        if( $("#zoom").is(":checked") ) {
            $(this).attr("src", "{{ static_url("hand.png") }}");
            $("#zoom").attr("checked", false);
        }
        else {
            $(this).attr("src", "{{ static_url("zoom_to_rect.png") }}");
            $("#zoom").attr("checked", true);
        }
    });
});
</script>
  </body>
</html>
